<div id="footer">
    <div class="container">
        <div>
            <img src="{{ templateDir }}/img/dieter_rosenbusch.png"/>
            <div>
                <h3>Dieter Rosenbusch</h3>
                <p>ist Inhaber der Firma GO and Fly, die seit 1992 besteht und mit seiner Frau Renate geführt wird. </p>
            </div>
            <p class="clear"></p>
            <ul>
                <li><a href="{{ route('ueber-uns') }}">Über Uns</a></li>
                <li><a href="{{ route('partner') }}">Partner</a></li>
                <li><a href="{{ route('kontakt') }}">Kontakt</a></li>
                <li><a href="{{ route('impressum') }}">Impressum</a></li>
            </ul>
        </div> <!-- Rosenbusch -->
        <div class="line"></div>

        <div id="kontaktform">
            <h3>Kontaktformular</h3>
            <form name="kontakt" method="post" action="{{ route('footer-contact-form') }}">{# inc.php/mail.sc.php #}
                <input type="text" name="name" required placeholder="Name"><br/>
                <input type="email" name="email" required placeholder="E-Mail"><br/>
                <textarea name="nachricht" placeholder="Nachricht" required></textarea><br/>
                <input type="submit" name="submit" value="Senden">
                <input type="hidden" name="route" value="{{ route }}"/>
                <input type="hidden" name="recaptcha_token" id="recaptcha_token">
            </form>
            <script src="https://www.google.com/recaptcha/api.js?render=6LdaDUEdAAAAABa5FQrlHxG61WISbjVCA9OCyPJt"></script>
            <script>
                grecaptcha.ready(function() {
                    grecaptcha.execute('6LdaDUEdAAAAABa5FQrlHxG61WISbjVCA9OCyPJt', {action: 'login'}).then(function(token) {
                        document.getElementById('recaptcha_token').value = token;
                    });
                });
            </script>
            {% if mailSent is same as (true) %}
                <p>Vielen Dank für Ihr Interesse, wir werden uns bei Ihnen melden.</p>
            {% endif %}
        </div> <!-- Kontakt -->
        <div class="line"></div>

        <div id="partner_footer">
            <h3>Unsere Partner - hier online buchbar!</h3>
            <div class="left">
                <a href="http://www.studiosus.com/?agnr=71043">Studienreisen:<br/> <img src="{{ templateDir }}/img/partner/studiosus.png"/></a>
            </div>
            <div class="left">
                <a href="http://www.chamaeleon-reisen.de/?anr=106549">Kleingruppen: <br/><img src="{{ templateDir }}/img/partner/chamaeleon.png"/></a>
            </div>
            <div class="left">
                <!--<a href="http://www.portfolio-ms.de"><img src="img/partner/ms.png" /></a>-->
                <a href="https://www.diamir.de/?agnr=35647">Aktivreisen:<br/> <img src="{{ templateDir }}/img/partner/diamir.jpg"/></a>
            </div>
            <div>
                <a href="https://www.wikinger-reisen.de/?anr=13085" target="_blank">
                    <img src="{{ templateDir }}/img/partner/wikinger-logo.png">
                </a>
            </div>
            <p class="clear"></p>
            <div class="fb-like" data-href="https://www.facebook.com/goandflyhalle" data-width="150" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        </div> <!-- Partner & 2nd Navigation -->
    </div> <!-- .container -->
    <p class="clear"></p>
</div> <!-- #footer -->
</div> <!-- #wrapper -->

{{ include('module/cookie.twig') }}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46208813-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-46208813-1');
</script>

</body>
</html>
