<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="no-js ie6 ie"> <![endif]-->
<!--[if IE 7 ]>
<html class="no-js ie7 ie"> <![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8 ie"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9 ie"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.67, maximum-scale=1.0"/>

    <title>go and fly</title>

    <link rel="stylesheet" href="{{ templateDir }}/css/main.css">

    <script src="{{ templateDir }}/js/jquery-3.2.1.min.js"></script>
    <script src="{{ templateDir }}/js/responsiveSlides.min.js"></script>

    <script src="{{ templateDir }}/js/main.js"></script>

    <script src="{{ templateDir }}/ckeditor/ckeditor.js"></script>

    <script src="{{ templateDir }}/js/fancybox.min.js"></script>
</head>
<body>

<div id="fb-root"></div>
<script>/*(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1&appId=292092680810799";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));*/
</script>

<div id="wrapper">
    <header id="header">
        <div class="container">
            <!-- Menü -->
            <a class="open" href="#nav"><img src="{{ templateDir }}/img/nav_world.png"/></a>
            <img id="menueBig" src="{{ templateDir }}/img/globus.png" />

            <!-- Logo -->
            <div id="logo">
                <a href="{{ route('index') }}"><img src="{{ templateDir }}/img/logo_smartphone.png"/></a>
                <p>Mit uns fliegen Sie raus ...</p>
            </div> <!-- #logo -->
            <div id="logo_big" class="left">
                <a href="{{ route('index') }}"><img src="{{ templateDir }}/img/logo.jpg"/></a>
            </div> <!-- #logo_big -->

            <!-- Hotline -->
            <div id="hotline" class="right">
                <img src="{{ templateDir }}/img/hotline.png"/>
            </div>
            <p class="clear"></p>

            <!-- Navigation small -->
            <div id="navigation">
                <div id="nav">
                    {% for continent in continents %}
                        {% set continentId = {'continentId': continent.getContinentId} %}
                        <div class="kontinent">
                            {{ continent.getFlaeche }}
                            <a href="{{ route('index', continentId) }}"><img src="{{ continent.getBild }}" width="220"/></a>
                            <table width="200">
                                {% for region in continent.getRegionList %}
                                    {% set regionId = {'regionId': region.getRegionId} %}
                                    <tr>
                                        <td><a href="{{ route('index', regionId) }}">{{ region.getName }}</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div> <!-- .kontinent -->
                    {% endfor %}
                </div> <!-- #nav -->
            </div> <!-- #navigation -->
        </div> <!-- .container -->
    </header>
    <div id="teaser">
        <!-- Navigation big -->
        <div id="navigationBig">
            <div class="left">
                {% for continent in continents %}
                    <p class="continent" data-continent-id="{{ continent.getContinentId }}" data-continent-bild="{{ continent.getBild }}">{{ continent.getName| convert_encoding('UTF-8', 'ISO-8859-1') }}</p>
                {% endfor %}
            </div> <!-- .left -->

            <div id="regionenAusgabe" class="left">
                <!-- Platzhalter Welt einfügen -->
                <img src="{{ templateDir }}/img/kategorie/world.png" width="800" style="margin-top:71px;"
                     id="world_map"/>
            </div> <!-- #regionenAusgabe -->
        </div> <!-- #navigationBig -->
        <img src="{{ teaserBild }}"/>
    </div> <!-- #teaser -->

    {{ include ('module/tagListe.twig') }}