{% if bearbeiteReise|length > 0 %}
    <h3>Reise bearbeiten</h3>
    <p>Bearbeiten Sie hier Ihre bereits erstellten Reisen. Egal ob Termine, Preise, Reiseverläufe oder bereits
        eingetragene Grunddaten.</p>

    <div class="left">
        <form action="{{ route('bearbeite-reise-form') }}" method="post" name="bearbeiteReiseForm"
              class="js-bearbeite-reise-form"
              enctype="multipart/form-data">
            <p>Titel:<br/><input type="text" name="titel" required placeholder="Titel der Reise"
                                 value="{{ bearbeiteReise.getTitel }}"/></p>
            <p>Beschreibung der Reise:<br/><textarea name="beschreibung" id="ReiseEditorCKE"
                                                     placeholder="Beschreibung der Reise"
                                                     required>{{ bearbeiteReise.getBeschreibung }}</textarea>
            </p>
            <p>Kurzbeschreibung der Reise:<br/>
                <textarea name="kurzbeschreibung" id="bearbeiteReiseFormKurzbeschreibung"
                          placeholder="Kurzbeschreibung der Reise"
                          required>{{ bearbeiteReise.getKurzbeschreibung }}</textarea></p>
            <p>Reiseveranstalter der Reise:<br/><input type="text" name="veranstalter"
                                                       value="{{ bearbeiteReise.getVeranstalter }}"
                                                       placeholder="Reiseveranstalter"/></p>
            <p>Karte uploaden:<br/><input type="file" name="kartenBild"/></p>
            <p>Teaserbild uploaden:<br/><input type="file" name="teaserBild"/></p>
            <p>Preis ab (ohne €):<br/><input type="text" name="preisAb" required placeholder="Preis ab  Bsp.: 1920" value="{{ bearbeiteReise.getPreisAb }}" /></p>
            <p>Personenanzahl:<br/><input type="text" name="personen" required placeholder="Personenanzahl Bsp.: 4-6"
                                          value="{{ bearbeiteReise.getPersonen }}"/></p>
            <p>Reisedauer in Tagen:<br/><input type="text" name="reisedauer" required
                                               placeholder="Reisedauer in Tagen Bsp.: 14"
                                               value="{{ bearbeiteReise.getReisedauer }}"/></p>
            <p>Flugdauer zum ersten Ziel:<br/><input type="text" name="flugzeit" required
                                                     placeholder="Flugdauer bis zum ersten Ziel in Stunden Bsp.: 4"
                                                     value="{{ bearbeiteReise.getFlugzeit }}"/></p>
            <p>Sprache der Reise:<br/><input type="text" name="sprache" required
                                             placeholder="Sprache der Reise Bsp.: deutsch / englisch"
                                             value="{{ bearbeiteReise.getSprache }}"/></p>
            <p>Terrainwertung:</p>

            <div class="terrainWertung">
                {% for i in 1..5 %}
                    <p class="left"><img src="{{ templateDir }}/img/terrain_{{ i }}.png"/><br/>
                        <input type="radio" name="terrain" value="{{ i }}"
                               {% if bearbeiteReise.getTerrain.getTerrain is same as (i) %}checked{% endif %}
                        /></p>
                {% endfor %}
                <p class="clear"></p>
            </div> <!-- .terrainWertung -->

            <p>Neues Bild auswählen: <br/><input type="file" name="vorschauBild"/><br/> Derzeit ausgewähltes Bild: <br/><img
                        src="{{ bearbeiteReise.getBild }}"/></p>

            <p>Reiseregionen hinzufügen:<br/>
                <select class="multipleSelect" name="region[]" multiple size="5" required>
                    {% for continent in continents %}
                        <optgroup label="{{ continent.getName| convert_encoding('UTF-8', 'ISO-8859-1') }}">
                            {% for region in continent.getRegionList %}
                                <option value="{{ region.getRegionId }}"
                                        {% if region.getRegionId.toString in bearbeiteReise.getRegionList|keys %}selected{% endif %}>{{ region.getName| convert_encoding('UTF-8', 'ISO-8859-1') }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </p>


            <p>Sichtbar bis:<br/>
                <input type="date" name="sichtbar" placeholder="Sichtbar bis (Format: yyy-mm-dd)"
                       value="{{ bearbeiteReise.getSichtbar.toString }}"/></p>
            <input type="hidden" name="reiseId" class="js-reiseId" value="{{ bearbeiteReise.getReiseId }}"/>

            <p><input type="checkbox" name="deleteReise"/> Wollen Sie diese Reise komplett löschen?</p>

            <p><input type="submit" name="submit" value="Absenden"/></p>
        </form>
    </div> <!-- .left -->

    <div class="right">
        <h3>Sidebar Informationen</h3>
        <p>Hier erstellen Sie Fragen und Antworten aus der Sidebar.</p>

        <div class="js-erstelle-frage-status status-container"></div>

        <div id="erstelleFragen">
            <form action="#" method="post" class="js-erstelle-frage" name="erstelleFragenReise">
                <p>Stellen Sie hier Ihre Frage:<br/><input type="text" name="frage" class="js-frage" required
                                                           placeholder="Stellen Sie hier Ihre Frage"/></p>
                <p>Hier steht Ihre Antwort:<br/><textarea name="antwort" class="js-antwort" required
                                                          placeholder="Hier steht Ihre Antwort"></textarea></p>
                <p><input type="submit" name="submit" value="Absenden"/></p>
                <input type="hidden" name="reiseId" class="js-reiseId" value="{{ bearbeiteReise.getReiseId }}"/>
            </form>
        </div>    <!-- #erstelleFragen -->


        <div id="bearbeiteFragen">
            <p>Hier bearbeiten Sie Ihre Reisefragen</p>

            {% if bearbeiteReise.getFrageListe|length > 0 %}
                <p class="error">Es gibt noch keine zu bearbeitende Frage. Bitte erstellen Sie zunächst eine neue
                    Frage.</p>
            {% endif %}

            <form action="#" method="post" name="bearbeiteFragenReise" class="js-bearbeite-frage">
                <p><select name="fragenListe" class="js-frage-liste">
                        <option value="0">Bitte wählen Sie eine Frage aus</option>

                        {% for frage in bearbeiteReise.getFrageListe %}
                            <option value="{{ frage.getFrageId }}">{{ frage.getFrage }}</option>
                        {% endfor %}
                    </select>
                </p>

                <p><input type="submit" name="submit" value="Absenden"/></p>

                <input type="hidden" name="reiseId" class="js-reiseId" value="{{ bearbeiteReise.getReiseId }}"/>
            </form>

            <div class="bearbeite-frage-container js-bearbeite-frage-container"></div>
        </div>    <!-- #erstelleFragen -->

        <p>Hier erstellen Sie Reiseleistungen zu Ihrer Reise aus der Sidebar.</p>

        <div class="js-erstelle-leistung-status status-container"></div>

        <div id="erstelleLeistungen">
            <form action="#" method="post" name="erstelleLeistungenForm" class="js-erstelle-leistungen">
                <p><textarea name="leistung" id="editorCKE3" required
                             placeholder="Tragen Sie die Reiseleistung hier ein">{{ bearbeiteReise.getLeistung.getText }}</textarea>
                </p>
                <p><input type="submit" name="submit" value="Absenden"/></p>
                <input type="hidden" name="reiseId" class="js-reiseId" value="{{ bearbeiteReise.getReiseId }}"/>
                <input type="hidden" name="leistungId" class="js-leistungId"
                       value="{{ bearbeiteReise.getLeistung.getLeistungId }}"/>
            </form>
        </div> <!-- #erstelleLeistungen -->


        <p>Hier erstellen Sie den Reiseverlauf zu Ihrer Reise aus der Sidebar.</p>

        <div class="js-erstelle-reiseverlauf-status status-container"></div>

        <div id="erstelleReiseverlauf">
            <form action="#" method="post" name="erstelleReiseverlaufForm" class="js-erstelle-reiseverlauf">
                <p><input type="number" name="reisetag" class="js-reisetag" min="1" required
                          placeholder="Position in der Liste (Sortierung)"/></p>
                <p><input type="text" name="titel" required class="js-titel"
                          placeholder="Titel (Bsp.: Tag 1 - Ankunft)"/></p>
                <p><textarea name="beschreibung" required class="js-beschreibung"
                             placeholder="Beschreibung des Reiseverlaufes"></textarea></p>
                <p><input type="submit" name="submit" value="Absenden"/></p>
                <input type="hidden" name="reiseId" class="js-reiseId" value="{{ bearbeiteReise.getReiseId }}"/>
            </form>
        </div> <!-- #erstelleReiseverlauf -->

        <div id="bearbeiteReiseverlauf">
            <p>Hier bearbeiten Sie Ihre Reiseverlauf</p>
            <form action="#" method="post" name="bearbeiteReiseverlaufReise" class="js-bearbeite-reiseverlauf">
                <p>
                    <select name="verlaufListe" class="js-verlaufliste">
                        <option value="0">Bitte wählen Sie einen Verlauf aus</option>

                        {% for reiseverlauf in bearbeiteReise.getReiseverlaufListe %}
                            <option value="{{ reiseverlauf.getReiseverlaufId }}">{{ reiseverlauf.getReisetag }}
                                - {{ reiseverlauf.getTitel }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p><input type="submit" name="submit" value="Absenden"/></p>
                <input type="hidden" name="reiseId" class="js-reiseId" value="{{ bearbeiteReise.getReiseId }}"/>
            </form>

            <div class="js-bearbeite-reiseverlauf-container"></div>
        </div> <!-- #bearbeiteReiseverlauf -->

        <p>Hier erstellen Sie Reisetermine und die dazugehörigen Preise aus der Sidebar.</p>

        <div class="js-erstelle-reisetermin-status status-container"></div>

        <div id="erstelleTermine">
            <form action="#" method="post" name="erstelleTermineForm" class="js-erstelle-reisetermin">
                <p>Startdatum: <br/><input type="date" name="start" class="js-start"
                                           placeholder="Startdatum Format: yyy-mm-dd" required/></p>
                <p>Enddatum: <br><input type="date" name="ende" class="js-ende" required
                                        placeholder="Enddatum Format: yyy-mm-dd"/></p>
                <p>Preis: <br><input type="text" name="preis" class="js-preis" required
                                     placeholder="Preis in € (Bsp.: 1.999€)"/></p>
                <p><input type="submit" name="submit" value="Absenden"/></p>
                <input type="hidden" name="reiseId" class="js-reiseId" value="{{ bearbeiteReise.getReiseId }}"/>
            </form>
        </div> <!-- #erstelleTermine -->

        <div id="bearbeiteReisetermine">
            <p>Hier bearbeiten Sie Ihre Reisetermine</p>
            <form action="#" method="post" name="bearbeiteReisetermineReise" class="js-bearbeite-reisetermin">
                <p><select name="termineListe" class="js-termine-liste">
                        <option value="0">Bitte wählen Sie einn Reisetermin aus</option>

                        {% for reisetermin in bearbeiteReise.getTerminListe %}
                            <option value="{{ reisetermin.getTerminId }}">{{ reisetermin.getStart }}
                                - {{ reisetermin.getEnde }} | {{ reisetermin.getPreis }}</option>
                        {% endfor %}
                    </select></p>
                <p><input type="submit" name="submit" value="Absenden"/></p>
                <input type="hidden" name="reiseId" class="js-reiseId" value="{{ bearbeiteReise.getReiseId }}"/>
            </form>

            <div class="js-bearbeite-reisetermin-container"></div>
        </div> <!-- #bearbeiteReiseverlauf -->


        <p>Hier erstellen Sie die Tagzugehörigkeit der Reise für die Selektion auf der Startseite:</p>

        <div class="js-erstelle-tag-status status-container"></div>

        <div id="erstelleTags">
            <form action="#" method="post" name="erstelleReiseTagsForm" class="js-erstelle-reisetags">
                <p>Tags hinzufügen:<br/>
                    <select name="tagAuswahl[]" multiple size="8" class="multipleSelect js-tag-auswahl">
                        {% for tag in tagListe %}
                            <option value="{{ tag.getTagId }}"
                                    {% if tag.getTagId.toString in bearbeiteReise.getTagListe|keys %}selected{% endif %}>{{ tag.getName| convert_encoding('UTF-8', 'ISO-8859-1') }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p><input type="submit" name="submit" value="Absenden"/></p>
                <input type="hidden" name="reiseId" class="js-reiseId" value="{{ bearbeiteReise.getReiseId }}"/>
            </form>
        </div> <!-- #erstelleTags -->
    </div> <!-- .right -->
    <p class="clear"></p>
{% endif %}