<form action="{{ route('erstelle-reise') }}" name="verwalteReiseForm" method="post" enctype="multipart/form-data">
    <div class="left">
        <p>Titel: <br/><input type="text" name="titel" required placeholder="Titel der Reise" /></p>
        <p>Beschreibung der Reise:<br/><textarea name="beschreibung" id="editorCKE" class="editCKE" placeholder="Beschreibung der Reise" required>Beschreibung der Reise</textarea></p>
        <p>Kurzbeschreibung der Reise:<br/><textarea name="kurzbeschreibung" id="erstelleReiseFormKurzbeschreibung" placeholder="Kurzbeschreibung der Reise" required></textarea></p>
        <p>Reiseveranstalter der Reise:<br/><input type="text" name="veranstalter" placeholder="Reiseveranstalter" /></p>
        <p>Karte uploaden:<br/><input type="file" name="kartenBild" /></p>
        <p>Teaserbild uploaden:<br/><input type="file" name="teaserBild" /></p>
    </div> <!-- .left -->

    <div class="right">
        <p>Preis ab (ohne €):<br/><input type="text" name="preisAb" required placeholder="Preis ab  Bsp.: 1920" /></p>
        <p>Personenanzahl:<br/><input type="text" name="personen" required placeholder="Personenanzahl Bsp.: 4-6" /></p>
        <p>Reisedauer in Tagen:<br/><input type="text" name="reisedauer" required placeholder="Reisedauer in Tagen Bsp.: 14" /></p>
        <p>Flugdauer zum ersten Ziel:<br/><input type="text" name="flugzeit" required placeholder="Flugdauer zum ersten Ziel in Stunden Bsp.: 4" /></p>
        <p>Sprache der Reise:<br/><input type="text" name="sprache" required placeholder="Sprache der Reise Bsp.: deutsch / englisch" /></p>
        <div class="terrainWertung">
            {% for i in 1..5 %}
                <p class="left"><img src="{{ templateDir }}/img/terrain_{{ i }}.png"/><br/>
                    <input type="radio" name="terrain" value="{{ i }}" /></p>
            {% endfor %}
            <p class="clear"></p>
        </div> <!-- .terrainWertung -->
        <p>Vorschau Bild auswählen:<br/><input type="file" name="vorschauBild" /></p>

        <p>Reiseregionen hinzufügen:<br/>
            <select class="multipleSelect" name="region[]" multiple size="5" required>
                {% for continent in continents %}
                    <optgroup label="{{ continent.getName| convert_encoding('UTF-8', 'ISO-8859-1') }}">
                        {% for region in continent.getRegionList %}
                            <option value="{{ region.getRegionId }}">{{ region.getName| convert_encoding('UTF-8', 'ISO-8859-1') }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </p>
        <p>Sichtbar bis:<br/>
            <input type="date" name="sichtbar" placeholder="Sichtbar bis (Format: yyy-mm-dd)" /></p>
    </div> <!-- .right -->
    <p class="clear"><input type="submit" name="submit" value="Absenden" /></p>
</form>