<!-- AUSGABE DER NAVIGATION -->
<div class="left">
    {% for region in continent.getRegionList %}
        <div class="region js-region" data-region-id="{{ region.getRegionId }}" data-region-bild="{{ region.getBild }}"
             data-region-beschreibung="{{ region.getBeschreibung }}">
                <p>{{ region.getName| convert_encoding('UTF-8', 'ISO-8859-1') }}</p>
                <span>{{ region.getBeispiellaender }}</span>
        </div>
    {% endfor %}
</div>

<div class="right">
    <!-- Ausgabe des Kontinents mit Daten -->
    <img id="navigationBild" src="{{ continent.getCategoryBild }}"/>

    <div id="kontinentInformation">
        <h2>{{ continent.getName| convert_encoding('UTF-8', 'ISO-8859-1') }}</h2>
        <p><span>Fläche:</span><br/>{{ continent.getFlaeche }}</p>
        <p><span>Gliederung:</span><br/>{{ continent.getGliederung }}</p>
        <p><span>Tourismus:</span><br/>{{ continent.getTourismus }}</p>
        <p><span>Klima/Reisezeit:</span><br/>{{ continent.getKlima }}</p>
    </div> <!-- #kontinentInformation -->
</div>
<div class="clear"></div>