<div class="reise reise-quer">
    <div class="image">
        <a href="{{ route('reise', reiseId) }}">
            <img src="{{ reise.getBild }}"/>
        </a>
    </div>

    <div class="beschreibung">
        <h3><a href="{{ route('reise', reiseId) }}">{{ reise.getTitel }}</a></h3>
        <div class="flex">
            <div>
                <p>{{ shortener(reise.getKurzbeschreibung, 400, true) }}</p>

                {% if reise.getPreisAb %}
                    <div class="priceContainer">
                        ab {{ reise.getPreisAb }}€
                    </div>
                {% endif %}
            </div>

            <div class="reiseKurzinformation">
                <div>
                    <img src="{{ templateDir }}/img/person.png" title="Personengruppen"/>
                    <p>{{ reise.getPersonen }}</p>
                </div> <!--personen-->
                <div>
                    <img src="{{ templateDir }}/img/zeit.png" title="Reisedauer"/>
                    <p>{{ reise.getReisedauer }}t</p>
                </div> <!--reisezeit-->
                <div>
                    <img src="{{ templateDir }}/img/flug.png" title="Flugdauer bis zum ersten Ziel"/>
                    <p>{{ reise.getFlugzeit }}h</p>
                </div> <!--flug-->
                <div>
                    <img src="{{ templateDir }}/img/terrain_{{ reise.getTerrain }}.png" title="Terrain Wertung -
                        Beschreibt die körperliche Anstrengung bei dieser Reise"/>
                </div> <!--terrain-->
            </div> <!-- #reiseKurzinformation -->
        </div>

        <div class="tagListe">
            {% if reise.getTagListe|length > 0 %}
                {% for tag in reise.getTagListe %}
                    <div class="singleTag">#{{ tag.getName| convert_encoding('UTF-8', 'ISO-8859-1') }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div> <!-- #reise -->